@charset "utf-8";

html{
    font-size:62.5%;
    
}

@mixin fontsize($size:24, $base:10){
    font-size:$size + px;
    font-size: ($size/$base)*1rem;
}

$base_color:#f9f8f6;
$suzu: #887f69;
$gray2: #e2ddd4;
$gray1: #b0b0b0;
$boldred: #9d1a2d;
html{
background-color: $base_color;
}
@media(min-width:551px){
    .container{
        width:68%;
    }
}
@media(max-width:550px){
    .container{
    padding: 0 10px;
    }
}
header{
    #header_in{
        padding:2.5% 0 0 0;
        #header_logo{
            
            img{
                
                width:31%;
                height: 45%;
            }
        }
        .navi{
           #navi_bar{
           display: flex;
           flex-direction: row;
           
            #pc_navi_li{
                margin-left:9%;
                width:75%;
                ul{
                    width:100%;
                   display:flex;
                   flex-direction: row;
                   justify-content: space-between;
                   flex-wrap:wrap;
                    li{
                        list-style:none;
                            img{
                            zoom:0.7;
                          } 
                    }
                }
            }
            #sp_navi_li{
                
                ul{
                    
                    li{
                    list-style:none;
                    text-align:center;
                    border-top:1px solid #eee;
                    padding:7px 5px ;
                    a{
                        
                        }
                    }
                }
            }
            #icon{
                display:flex;
                flex-direction: row;
            }
           }
        }
    }
    @media(max-width: 550px){
                #header_in{
                    padding-top: 15px;
                    #header_logo{
                        a{
                            img{
                                width:98px;
                                height:28px;
                                display:block;
                                margin-left:auto;
                                margin-right:auto;
                            }
                        }
                    }
                    .navi{
                    #navi_bar{
                       #pc_navi_li{
                       display:none;
                       }
                       #sp_navi_li{
                           margin-left:50%;
                            ul{  
                                z-index:10000;
                                background-color:$base_color;
                                top: 100px;
                                position:absolute;
                                list-style: none;
                                border:1px solid #eee;
                                a{
                                    display:block;
                                }
                            }
                            display:none;
                        }
                       #icon{
                           margin-top:13px;
                           width:100px;
                           display:flex;
                           margin-left:auto;
                           margin-right:auto;
                           justify-content:space-around;
                           img{
                               zoom:1;
                               max-height:23px;
                           }
                           
                       }
                    }
                }
                }
            }
    @media(min-width: 551px){
        #header_logo{
            padding-top:2px;
            padding-left:4px;
        }
       #navi_bar{
       padding-top:5%;
        #sp_navi_li{
                    display:none;
           }
        #icon{
            margin-left:4%;
            display:flex;
            justify-content:space-between;
            a{
                padding-right:15%;
            }
            img{
            zoom:0.7;
            }
        }
        #navi_menu_button{
                display:none;
            }
       }
    }
}

main{
    .inner_box{
        background-color:white;
        width:45%;
        margin-bottom:10px;
        padding:2px;
            div{
                height:130px;
                max-width:98%;
                background-size:cover;
            }
            p{
                @include fontsize(12);
                letter-spacing: 0.05rem;
                margin-top:10px;
                margin-bottom: 0;
            }

        @media(min-width:551px){
                height:200px;
                width:30%;
                div{
                    height:200px;
                    max-width:98%;
                }
                p{
                @include fontsize(12);
                letter-spacing: 0.05rem;
                margin-top:10px;
                margin-bottom: 0;
            }
                }
    }
    #eyecatch{
        @media(max-width:550px){
        margin-top: 10px;
        }
    }
    #new_item{
        @media(max-width:550px){
            .pc_title{
                display:none;
            }
            .inner_box{
                div{
                    
                }
            }
            .center_line{
                display:none;
            }
        }
        @media(min-width:551px){
            .sp_title{
                display:none;
            }
            .inner_box{
                margin-top:15px;
                margin-bottom:5px;
                margin-right:5px;
                margin-left:10px;
                background-color:white;
            }
        }            
        .pc_title{
            
            img{
                max-width: 100%;
            margin-top:10px;
            margin-bottom:20px;
            }
        }
        .sp_title{
            img{
            display:flex;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:20px;
            }
        }
        .new_box{
            display:flex;
            flex-wrap: wrap;
            justify-content:space-around;
             background-color:white;   
             .center_line{
                 margin:8px 0;
                 height:3px;
                 background-color:$base_color;
             }
        div.new_1{
            background-image: url("../images/top/item_01.jpg");
            }
        div.new_2{
            background-image: url("../images/top/item_02.jpg");
        }
        div.new_3{
            background-image: url("../images/top/item_03.jpg");
        }
         div.new_4{
            background-image: url("../images/top/item_04.jpg");
        }
         div.new_5{
            background-image: url("../images/top/item_05.jpg");
        }
         div.new_6{
            background-image: url("../images/top/item_06.jpg");
        }
        }
    }
    
    #popular_item{
        .pop_img{
            margin-top:40px;
            margin-bottom:28px;
            img{
            width:100%;
            }
        }
        .pop_box{
             display:flex;
            flex-wrap: wrap;
            justify-content:space-around;
        .inner_box{
            margin-top:15px;
            margin-bottom:5px;
            margin-right:5px;
            margin-left:10px;
            background-color:white;
        }
             .center_line{
                     margin: 8px 0;
                     height: 3px;
                     background-color: $base_color;
                     @media(max-width:550px){
                         display:none;
                     }
             }
            div.pop_1{
                background-image: url("../images/top/item_07.jpg");
                }
            div.pop_2{
                background-image: url("../images/top/item_08.jpg");
            }
            div.pop_3{
                background-image: url("../images/top/item_09.jpg");
            }
             div.pop_4{
                background-image: url("../images/top/item_10.jpg");
            }
             div.pop_5{
                background-image: url("../images/top/item_11.jpg");
            }
             div.pop_6{
                background-image: url("../images/top/item_12.jpg");
            }
        }
    }
    
    #shopping_guide{
           
    .title{
                img{
            width:100%;
             margin-top: 40px;
            margin-bottom: 40px;
                }
            }
            
    .guide_box{
        background-color:white;
        display:flex;
        flex-wrap:wrap;
        .center_line{
            width:3px;
            background-color: $base_color;

        }
        
        .otodoke{
            width: 48%;
            display:flex;
            flex-direction:column;
            @include fontsize(13);
            
            padding-top:5px;
            padding-left:20px;
            .box1{
                margin-bottom:15px;
            }
            .box3{
                padding-top: 5px;
                p{
                    padding-top:2px;
                    letter-spacing: 0.02rem;
                    margin-bottom: 10px;
                }
            }
            .box4{
                margin-top:2px;
                @include fontsize(13);
                p{
                    padding-top:5px;
                }
            }
            img{

                width:auto;
                height:auto;
                
            }
        }
        .kessai{
            padding-top:5px;
            width: 48%;
            display:flex;
            flex-direction:column;
            background-color:white;
            @include fontsize(12);
            
            .box1{
                padding-left:15px;
            }
            .box2{
                padding-top:7px;
                padding-left:15px;
            }
            .box3{
                padding: 7px 0 0 15px;
            }
             .box4{
                 padding:7px 0 0 15px ;
                 p{
                     margin-bottom:0;
                 }
             }
             .box5{
                 padding: 15px 0 0 15px;
             }
        }
    }
}
    
    #pankuzu{
        .pankuzu_bar{
            height: 30px;
            background-color:$gray2;
            display:flex;
            flex-direction:row;
            align-items:center;
            p{
                margin:auto 20px;
            }
            a{  
                color:$suzu;
                margin: 0 10px;
                @include fontsize(16);
                img{
                    zoom: 1.5;
                }
                
            }
        }
        margin-bottom:20px;
    }
    
    #cover{
        .cover_box{
        height: 170px;
        background-image: url("../images/list/cate_image.jpg");
        @media(max-width:550px){
            background-image: url("../images/list/cate_image_sp.jpg");
        }
        background-size:cover;
        }
        margin-bottom:20px;
    }
    
    #cate_item{
        
        .cate_box{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        .cate_1{
            background-image: url("../images/list/cate_1.jpg");
        }
        .cate_2{
            background-image: url("../images/list/cate_2.jpg");
        }
        .cate_3{
            background-image: url("../images/list/cate_3.jpg");
        }
        .cate_4{
            background-image: url("../images/list/cate_4.jpg");
        }
        .cate_5{
            background-image: url("../images/list/cate_5.jpg");
        }
        .cate_6{
            background-image: url("../images/list/cate_6.jpg");
        }
        .cate_7{
            background-image: url("../images/list/cate_7.jpg");
        }
        .cate_8{
            background-image: url("../images/list/cate_8.jpg");
        }
        .cate_9{
            background-image: url("../images/list/cate_9.jpg");
           
            
        }
        }
        .cate_move_button{
            width: 100%;
             display:flex;
                justify-content:space-between;
            img{
               
                zoom: 0.66;
            }
        }
    }
    
    #carent_item{
        box-sizing:border-box;
        .carent_title{
            text-align:center;
            .carent_pc{
                max-width:70rem;
            }
        }
        .carent_box{
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        .carent_1{
            background-image: url("../images/list/carent_1.jpg");
        }
        .carent_2{
            background-image: url("../images/list/carent_2.jpg");
        }
        .carent_3{
            background-image: url("../images/list/carent_3.jpg");
        }
        }
    }
    
    .main_area{
        background-color:white;
    
    
    #product{
        .product_header{
            display:flex;
            justify-content:space-between;
            .product_title{
                p{
                    @include fontsize(16);
                    font-weight:bold;
                }
            }
            .product_id{
                p{
                    color:$gray1;
                }
            }
        }
        
        .product_image{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            
          
          .main_image{
              
              img{
              width: 100%;
              }
          }  
        
           .image_columns{
               
            ul{
                li{ 
                    list-style:none;
                    img{
                       width:100%; 
                    }
                }
            }
        }
        }
    }
    
    @media(max-width:550px){
        
        .cate_box:after{
            content:"";
            display:block;
            margin-right:48%;
        }
        #carent_item{
            img.carent_pc{
                display:none;
            }
            
        }
        
        .carent_box:after{
            content:"";
            display:block;
            margin-right:48%;
        }
        
        .product_image{
            .main_image{
                width: 100%;
            }
            .image_columns{
                width: 100%;
                ul{
                    width:100%;
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 48%;
                        
                     img{
                         width: 100%;
                     }
                     
                    }
                }
                
            }
        }
        
    }
    @media(min-width:551px){
        #carent_item{
            img.carent_sp{
                display:none;
            }
        }
        
        #product{
            .product_image{
                .main_image{
                    width:75%;
                }
                
                .image_columns{
                    width:20%;
                }
            }
        }
    }
    }
}

#aside{
    width:23%;
    margin-left:22px;
    #search{
        background-color:white;
        .search_title{
            margin-top:12px;
            margin-left:20px;
        }
        .search_box{
            margin-left:22px;
            width:80%;
            form{
                p{
                    border:1px solid #eee;
                    background-color: $gray2;
                    display:flex;
                    flex-direction:row;
                    input{
                        box-sizing:border-box;
                        margin:0;
                        padding:0;
                        background-color:$gray2;
                        height:25px;
                        border:none;
                        color:black;
                    }
                    .text{
                        width:60%;
                        height:25px;
                        border:none;
                        color:black;
                    }
                    .icon_box{
                            width:25px;
                            height:25px;
                            .icon{
                               height:16px;
                            }
                    }
                }
            }
        }
    }
    
    #pagelink{
        
        .link_box{
            
            background-color:$suzu;
            a{    
            
                width:100%;
                height:40px;
                display:flex;
                     justify-content: center;
                     align-items: center;
                  img{
                     
                  }  
                }
            
        }
        margin-bottom:20px;
    }
    
    #category{
        margin-bottom:20px;
        .cate_navi_button{
            width:100%;
            background-color:$suzu;
            height:50px;
            display:flex;
            justify-content: center;
            align-items: center;
            
        }
        .cate_navi_li{
            li{
             list-style:none;
             width:100%;
             height:40px;
             text-align:center;
             padding-top:15px;
             padding-bottom:10px;
             border-bottom:1px solid #eee;
               a{
                   color:#626262;
               } 
            }
            display:none;
        }
    }
    
    #about{
        margin-bottom:20px;
        .about_midasi{
            margin-top:10px;
            margin-bottom:10px;
            background-color:$suzu;
            width:100%;
            height:50px;
            display:flex;
            justify-content:center;
            align-items: center;
        }
        .about_box{    
          
            img{
                width:100%;
            }
            img.more{
                display:flex;
                margin-right:auto;
                margin-left:auto;
                width:100px;
                height:30px;
            }
        }
    }
    
    #shop_info{
        margin-bottom:20px;
        .info_midasi{
            width:100%;
            background-color:$suzu;
            height:50px;
            display:flex;
            justify-content: center;
            align-items: center; 
            margin-bottom:10px;
        }
        .info_box{
            img.image{
                width:100%;
            }
            img{
                display:flex;
                margin-left:auto;
                margin-right:auto;
            }
        }
        
    }
}

.pagetop{
    border-bottom:20px;
        a{
            img{
        display:flex;
        margin-left:auto;
        @media(max-width:550px){
            margin-right:auto;
        }
            }
    }
}

footer{
    border-top: 1px solid #eee;
    text-align:center;
    @include fontsize(12);
    ul{
        margin-top:4%;
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
        
        li{
            display:block;
            margin-left:5px;
            list-style:none;
            a{
                color:#626262;
            }
        }
    }
}